@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;800&display=swap');

:root{
    --background-body:#fff;
    --background-nav-titulo:#fff;
    --background-nav-list:#fff;
    --background-nav-login: chartreuse;
    --bordeCirulo50: 50%
}
*{
    font-family: 'Inconsolata', monospace;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
}

nav{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;    
    padding: 20px 0;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: padding 0.1s ease-in-out;
}
.abajo{
    padding: 5px 0;
    transition: padding 0.2s ease-in-out;
}


nav .titulo{
    background-color: var(--background-nav-titulo);
    display: flex;
    width: 30%;
    height: 10vh;    
    align-items: center;
    border-radius: 5px;
}
nav .titulo span {
    padding: 0 5%;
    font-size:x-large;
}
nav .titulo img{
    width:4vw ;
    height: auto;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    padding: 0 1%;
}

nav .list{
    background-color: var(--background-nav-list);
    width: 60%;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-inline: 5px;
    border-radius: 5px;
    justify-content: space-between;
}
nav .login{
    background-color: var(--background-nav-login);
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;    
}

nav .list .lista ul{
    list-style: none;
    display: inline-flex;
    width: 50vw;
    padding: 0px;
}

nav .list .lista ul li{
    width: 33.3%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
nav .list .lista ul li a{
    text-decoration: none;
    color: black;
    transition: linear 0.5s;
    
    

}
nav .list .lista ul li a:hover{
    transition: linear 0.5s;
    color: red;
    transform: scale(1.2);
}


.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(205deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(26,68,204,1) 69%, rgba(0,212,255,1) 100%);
    position: relative;
    overflow: hidden;    
    width: 100%;
    height: 100vh;
    /***** object-fit: cover; *****/
    /* background-size: cover; */
    /* background-image: url(img/food.jpg); */
    /* background-position: top; */
}
.slider .texto{
    position: absolute;
    font-size: 24px;
    color: fuchsia;
    top: 50%;
}
.slider .circleAll{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    z-index: 0;
    
}

.slider .circleAll .circle{
    width: 75px;
    position: absolute;
    left: 24%;
    height: 75px;
    background-color: green;
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
    top: 15%;
}
.slider .circleAll .circle2{
    width: 300px;
    position: absolute;
    height: 300px;
    background-color: blue;
    border-radius: 50%;
    bottom: 2%;
    opacity: 0.7;
    left: -11%;
    z-index: -1;
}
.slider .circleAll .circle3{
    width: 90vh;
    height: 85vh;    
    background-color: red;
    border-radius: 50%;
    right: -20%;
    position: absolute;
    opacity: 0.7;
    transform: translate(0%, 0%);
    z-index: 0;
    top: 13%;
}
.square{
    width: 100px;
    position: absolute;
    height: 100px;
    border: 10px solid purple;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    transform: rotate(45deg);
    animation: spin 10s linear infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.projects{
    margin-inline: 5px;
}
